

            h1 {
                color:aqua;
                padding-leftp: 100
            }

            * {
                border: solid;
            }

            .first{
                background-color:blanchedalmond;
            }